@{
    ViewBag.Title = "Sobre mim";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use esta area para digitação de informação.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Além Título</h3>
    <p>
        Alterar pasUse nesta área para fornecer information.sword adicional
    </p>
    <ul>
        <li>@Html.ActionLink("Principal", "Index", "Home")</li>
        <li>@Html.ActionLink("Filmes", "Index", "Movies")</li>
        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
        <li>@Html.ActionLink("Contatos", "Contact", "Home")</li>
    </ul>
</aside>